body,
h1,
p {
  margin: 0;
  padding: 0;
}

.article {
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 60px;
}

.article_water.article_left {
  text-align: left;
}

.article_sky {
  min-height: 30vh;
  background-image: url(./images/sky.jpg);
  color: #f2cbbd;
  text-align: center;
}

.article_water {
  min-height: 40vh;
  background-image: url(./images/water.jpg);
  text-align: center;
  color: lightcyan;
}

.article_desert {
  min-height: 30vh;
  background-image: url(./images/desert.jpg);
}

.article-title {
  font-size: 2rem;
  padding: 30px;
  display: inline-block;
  border-bottom: 14px solid;
  line-height: 1rem;
  margin-bottom: 40px;
}

.article_sky .article-title {
  border-color: #a65b4b;
}

.article_water .article-title {
  border-color: #6393a6;
}
.article_desert .article-title {
  color: #8a5a56;
  border-color: #8a5a56;
}

.article_sky .article-cover {
  height: 330px;
  object-fit: contain;
}

.article_water .article-cover {
  height: 150px;
  display: block;
}

.grid {
  margin: 40px 0;
}

.grid-items {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid #bf785e;
  outline: 3px solid #f2cbbd;
  margin: 0 -25px;
}
